/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  font-size: 1.5rem;
} 
main {
  background: #eec;
}
section {
  box-sizing: border-box;
  background: #eee;
  text-align: center;
}
section:nth-child(3),
section:nth-child(4) {
  display: none;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  } 
  main {
    background: #cee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section {
    width: 45%;
    margin: 6px;
  }
  section:nth-child(3),
  section:nth-child(4) {
    display: block;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
  main {
    background: #ece;
  }
  section {
    width: 20%;
  }
}
